body {  
    background: url(background.jpg);  
    background-size: cover;  
    margin: 0;   
    height: 100vh;   
} 
#wrapper {  
    min-height: 100vh;   
    display: flex;  
    justify-content: center;   
    align-items: center;     
} 
#form-login {  
    max-width: 800px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    height: 400px;  
    width: 600px;  
    padding: 30px 30px 50px;  
}
#form-register {  
    max-width: 800px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    height: 650px;  
    width: 600px;  
    padding: 30px 30px 50px;
}
.form-group {  
    border-bottom: 2px solid #000000;  
    margin-top: 20px;  
    margin-bottom: 30px;  
}
.form-heading {  
    font-size: 30px;  
    text-align: center;  
    margin-bottom: 150px;  
    color: #000000;  
}
.form-input {  
    width: 100%;  
    height: 24px;  
    background: transparent;  
    border: 0;  
    outline: 0;
} 
.form-submit {  
    text-align: center;  
    width: 100%;  
    margin-top: 40px; 
    margin-bottom: 25px; 
} 
.form-submit input {  
    font-size: 16px;   
    color: #ffffff;    
    background-color: #CD0000;   
    border-radius: 10px;
    border: none;
    padding: 10px 20px;   
    cursor: pointer; 
    width: 100%; 
}
.form-input::placeholder{
    color:#000000;
}
.register{
    font-size: 15px;
    text-align: right;
}
.login{
    font-size: 15px;
    text-align: right;
}