* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px  ;
    margin: auto;
}
nav ul{
    display: flex;
    background-color:#000000;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    padding: 12px 5% 5px 5%;
}
nav ul a,li{
    text-decoration: none;
    color: #ff9900; 
    display: inline-block;
    font-size: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav ul li:nth-child(1) a{
    font-size: 20px;
}
nav ul li:nth-child(2){
    position: relative;
}
nav ul li:nth-child(2) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
}
nav ul li:nth-child(2) i{
    position: absolute;
    font-size: 15px;
    right: 10px;
    top: 8px;
}
.menu-bar{
    background-color: #FED100;
    
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li a{
    color: #333;
    font-size: 14px;
}
.menu-bar ul li a i{
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar ul li{
    padding: 12px 6px;
    transition: all 0.3s ease;
}
.menu-bar ul li:hover{
    background-color: #FFFFFF;
}
.menu-bar-content ul li {
    position: relative;
}
.submenu {
    position: absolute;
    background-color: #ddd;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
}
.submenu ul {
    display: flex;
    flex-direction: column;
}
.submenu ul li {
    padding: 6px 0;
}

.submenu ul li:hover a{
    color: #0000FF;
}
.submenu ul li:hover{
    background: none;
}
.menu-bar-content ul li:hover .submenu{
    display: block;
}
  
h1 {  
    text-align: center;  
    color: #333;  
    padding-top: 20px;
}  
.product {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding-top: 100px; 
    padding-bottom: 100px;
} 
.product-card {  
    border: 2px solid #ccc;  
    border-radius: 8px;  
    padding: 10px;  
    background-color: #f0ffff;  
    text-align: center;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    height: 600px;
    width: 100%; 
}
.product-card img {  
    width: 100%;  
    height: 450px; 
    object-fit: cover;   
}  
.product-name {  
    font-weight: bold;  
    color: #003366; 
    margin-top: 20px;
    margin-bottom: 20px;   
}  
.product-price {  
    color: #FF0000; 
    margin-top: 20px; 
} 
.pagination{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #FF0000;
}



 
 
  
 
 
 

 







